.grid-item {
    width: 100%;
    }
    @media (min-width: 1280px) {
        .grid-item {
            width: 290px;
        }
    }
    @media (min-width: 701px) and (max-width: 1279px) {
        .grid-item {
            width: 280px;
        }
    }

    @media (min-width: 441px) and (max-width: 700px) {
        .grid-item {
            width: 280px ;
        }
    }

    @media (min-width:300px) and (max-width: 440px) {
        .grid-item {
            width: 200px !important ;
        }
    }

  