{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <div class="pageContent" style="display: flex; justify-content: center; margin: 10px;">
        <form action="{%url 'auctions:newListing' %}" method="post" class="form">
            {% csrf_token %}
            <div>
                <label for="title">Title:</label>
                {{form.item}}
            </div>
            <div>
                <label for="description">Description:</label>
                {{form.description}}
            </div>
            <div>
                <label for="starting_price">Starting price:</label>
                {{form.starting_price}}
            </div>
            <div>
                <label for="url">Image url:</label>
                {{form.url}}
            </div>
            <div>
                <label for="category">Category:</label>
                {{form.category}}
            </div>
            <div>
                <button type="submit">New Listing</button>
            </div>
    </div>
{% endblock %}