{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="text-2xl font-bold text-neutral my-6 pl-6 ">Category</h2>
    <div class="grid md:grid-cols-3 p-10 gap-5 w-full justify-items-center grid-cols-2">
    {% for Category in Categories %}
        <a class="flex justify-center w-full" href="{% url 'auctions:categoryFilter' Category.name %}">
            <div class="relative w-full max-w-[300px] lg:max-w-[430px] rounded-lg overflow-hidden">
                {% if Category.imageCategory %}
                <img class="rounded-lg h-40 w-full object-top object-cover" src="{{ Category.imageCategory.url }}" alt="{{ Category.name }}">
                {% else %}
                    <p>No image available for this category.</p>
                {% endif %}

                <div class="absolute inset-0 p-10 bg-neutral opacity-45 flex items-center justify-center">
                </div>
                <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold text-lg text-nowrap ">{{Category.name}}</div>
            </div>
        </a>
    {% endfor %}
   </div>


{% endblock %} 