{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="text-2xl font-bold text-neutral my-6 pl-6 ">Category: {{Category}}</h2>
    {% if Category %}
        {% if Listings %}
            {% include 'auctions/listings.html' %}
        {% else %}
            <div class="card lg:card-side p-5 gap-5 w-full">
                <div class="relative">
                    <div class=" z-10 flex bg-info absolute top-8 left-14 aspect-square w-48 h-32 md:w-80 md:h-80 rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)] "></div>
                    <div class=" z-10 flex bg-accent absolute top-32 left-60 aspect-square w-32 h-20 md:w-80 md:h-80 rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)] "></div>
                    <div class=" z-10 flex bg-primary absolute top-44 left-12 aspect-square w-48 h-10 md:w-96 md:h-96 rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)] "></div>
                </div>
                <h2 class="flex z-20 lg:w-1/2 justify-center items-center text-3xl text-pretty text-center font-bold text-neutral">There is not active listing in this Category!</h2>
                <figure class="lg:w-1/2 h-[560px]">
                    <img class="rounded-3xl h-[560px] object-cover object-top" alt="{{Category.name}}" src="{{Category.imageCategory.url}}">
                </figure>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}