{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale =1">
        <title>{% block title %}Auctions{% endblock %}</title>
        {% tailwind_css %}
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    
    <body class="relative z-0 bg-base text-base-content w-screen">
        <div class="bg-warning absolute z-10  aspect-square top-20 left-14 w-32 h-32 lg:top-36 lg:left-36 lg:w-[700px] lg:h-[700px] rounded-full opacity-90 blur-3xl [transform:translate3d(0,0,0)] "></div>
        <div class="bg-success absolute z-10 aspect-square w-full h-full rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)]"></div>
        <div class="bg-info absolute z-10 aspect-square w-1/2 h-full right-14 lg:right-20 rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)]"></div>

        <div class="navbar relative z-30 bg-opacity-50 items-center text-base-content w-full shadow-lg rounded-bl-lg rounded-br-lg ">
            <div class="navbar-start w-full h-10 lg:w-1/2 lg:flex relative ">
                <div class="absolute left-0 lg:hidden">
                    {% include 'auctions/nav_menu.html' %}
                </div>
                <h1 class="text-3xl font-bold flex w-full justify-center lg:justify-start lg:pl-5">
                    <a class="w-full text-center lg:text-left" href="{% url 'auctions:index' %}">
                        Auctions
                    </a>
                </h1>
            </div>
            <div class="navbar-center hidden font-bold lg:flex">
                <ul class="menu menu-horizontal px-1 space-x-8">
                        {% if user.is_authenticated %}
                        {% url 'auctions:index' as active_listings_url %}
                        <li><a class="nav_item {% if request.path == active_listings_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:index' %}">Active Listings</a></li>

                        {% url 'auctions:newListing' as active_newListing_url %}
                        <li><a class="nav_item {% if request.path == active_newListing_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:newListing' %}">Create Listing</a></li>

                        {% url 'auctions:watchList' as active_watchList_url %}
                        <li><a class="nav_item {% if request.path == active_watchList_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:watchList' %}">Watch List</a></li>

                        {% url 'auctions:categoryView' as active_categoryView_url %}
                        <li><a class="nav_item {% if request.path == active_categoryView_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:categoryView' %}">Category</a></li>

                        {% url 'auctions:logout' as active_logout_url %}
                        <li><a class="nav_item {% if request.path == active_logout_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:logout' %}">Log Out</a></li>
                    {% else %}
                        {% url 'auctions:index' as active_listings_url %}
                        <li><a class="nav_item {% if request.path == active_listings_url %} bg-neutral text-neutral-content transition {% endif %}"  
                            href="{% url 'auctions:index' %}">Active Listings</a></li>

                        {% url 'auctions:login' as active_login_url %}
                        <li><a class="nav_item {% if request.path == active_login_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:login' %}">Log In</a></li>

                        {% url 'auctions:register' as active_register_url %}
                        <li><a class="nav_item {% if request.path == active_register_url %} bg-neutral text-neutral-content transition {% endif %}" 
                            href="{% url 'auctions:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="navbar-end hidden lg:flex pr-5">
                {% if user.is_authenticated %}
                <div class="p-3 mt-1.5">Signed in as <strong class="text-neutral">{{ user.username }}</strong></div>
                {% else %}
                <div class="p-3 mt-1.5">Not signed in.</div>
                {% endif %} 
            </div>
        </div>

        <div class="relative z-20 flex w-full justify-center">
            <main class="w-full mx-auto mt-5 bg-base-100 bg-opacity-70 rounded-lg shadow-lg">
                {% block body %}
                {% endblock %}
            </main>
        </div>
        <footer class="relative z-20 w-full bg-neutral text-neutral-content text-center py-4 mt-8">
            <p>&copy; 2024 Auctions. All rights reserved.</p>
        </footer>
    </body>
</html>
