<div class="masonry-container">
    {% if Listings %}
        {% for Listing in Listings %}
            {% if Listing.status == "active" %}
            <a class="masonry-item" href="{% url 'auctions:entryBid' Listing.id %}">
                <div class="card glass text-neutral h-auto my-2 shadow-md hover:bg-neutral hover:text-neutral-content hover:shadow-lg transition">
                    <figure>
                        <img class="w-full h-full object-cover"
                        src="{% if Listing.url %}{{Listing.url}}{% else %}/static/placeholder.png{% endif %}" 
                        alt="{{Listing.title}}"/>
                    </figure>
                    <div class="card-body my-5 py-5">
                        <h2 class="card-title">
                            <div class="text-3xl">{{Listing.item}}</div>
                            <div class="badge badge-accent px-2">{{Listing.category.name}}</div> 
                        </h2>
                        <div class="mt-2"><strong>Price:</strong> {{Listing.current_price}}$</div>
                        <p class="mb-3">{{Listing.description}}</p>
                        <div class="my-3"><strong>Seller:</strong> {{Listing.owner}}</div> 
                        <div class="text-sm text-gray-400">Created {{Listing.created_time}}</div>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>