<div class="grid mx-auto py-5" data-masonry='{"itemSelector":".grid-item", "columnWidth":".grid-item", "gutter":20, "fitWidth":true}'>
    {% if Listings %}
        {% for Listing in Listings %}
            {% if Listing.status == "active" %}
            <a class="grid-item" href="{% url 'auctions:entryBid' Listing.id %}">
                <div class="card glass bg-base-200 group text-neutral h-auto my-3 shadow-md hover:bg-neutral selection:hover:shadow-lg transition">
                    <figure class="overflow-hidden relative">
                        <div class="absolute top-3 right-3 badge badge-neutral text-[11px] p-2.5 text-nowrap">{% if Listing.category.name %} {{Listing.category.name }} {% else %} Other {% endif %}</div>
                        <div class="absolute bottom-0 left-0 right-0 h-[60px] md:h-[80px] bg-white bg-opacity-40 text-neutral font-semibold p-2 pl-3 md:p-4">
                            <h2 class=" w-full card-title text-lg md:text-xl overflow-x-hidden text-nowrap text-ellipsis">
                                <div>{{Listing.item}}</div>
                            </h2>
                            <div class="font-bold text-[12px] lg:text-sm"> ${{Listing.current_price}}</div>
                        </div>
                        <img class="w-full h-full object-cover"
                                src="{% if Listing.url %}{{Listing.url}}{% else %}/static/placeholder.png{% endif %}" 
                                alt="{{Listing.title}}"/>
                    </figure>
                    <div class="card-body group-hover:text-white my-1 pl-3 py-1 lg:pl-4">
                        <p class="text-[12px] md:text-[14px] text-nowrap overflow-auto m-0">{{Listing.description}}</p>
                        <div class="text-nowrap overflow-hidden text-[8px] md:text-sm text-gray-400 m-0">Created {{Listing.created_time}}</div>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>

<script src="https://masonry.desandro.com/masonry.pkgd.min.js"></script>

