{% extends "auctions/layout.html" %}

{% block body %}
{% if Listings %}
    <div class="grid mx-auto py-5 h-svh min-h-[900px] " data-masonry='{"itemSelector":".grid-item", "columnWidth":".grid-item", "gutter":20, "fitWidth":true}'>
        {% for Listing in Listings %}
            <a class="grid-item" href="{% url 'auctions:entryBid' Listing.id %}">
                <div class="card glass bg-base-200 group text-neutral h-auto my-3 shadow-md hover:bg-neutral selection:hover:shadow-lg transition">                    
                    <figure class="overflow-hidden relative">
                        <div class="absolute top-3 right-3 space-x-1">
                            <div class=" badge badge-neutral text-[11px] p-2.5 text-nowrap">{{Listing.category.name}}</div>
                            <div class=" badge text-[11px] p-2.5 text-nowrap text-white {% if Listing.status == 'ACTIVE' %} badge-accent {% else %} badge-error {% endif %} ">{{Listing.status}}</div>
                        </div>
                        <div class="absolute bottom-0 left-0 right-0 h-[60px] md:h-[80px] bg-white bg-opacity-40 text-neutral font-semibold p-2 pl-3 md:p-4">
                            <h2 class=" w-full card-title text-lg md:text-xl overflow-x-hidden text-nowrap text-ellipsis">
                                <div>{{Listing.item}}</div>
                            </h2>
                            <div class="font-bold text-[12px] lg:text-sm"> ${{Listing.current_price}}</div>
                        </div>
                        <img class="w-full h-full object-cover"
                                src="{% if Listing.url %}{{Listing.url}}{% else %}/static/placeholder.png{% endif %}" 
                                alt="{{Listing.title}}"/>
                    </figure>
                    <div class="card-body group-hover:text-white my-1 pl-3 py-1 lg:pl-4">
                        <p class="text-[12px] md:text-[14px] text-nowrap overflow-auto m-0">{{Listing.description}}</p>
                        <div class="text-nowrap overflow-hidden text-[8px] md:text-sm text-gray-400 m-0">Created {{Listing.created_time}}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <script src="https://masonry.desandro.com/masonry.pkgd.min.js"></script>
{% else %}
    <div class="card lg:card-side rounded-box bg-base-100 shadow-lg m-5 p-5 h-svh">
        <div class="w-full h-full">
            <div class="card-body  relative h-full">
                <h2 class="md:absolute md:inset-0 text-center lg:flex flex-col card-title z-20 w-full h-full justify-center items-center text-[26px] text-nowrap lg:text-3xl font-bold lg:text-white">Haven't Watch Any Listing!</h2>
                <div class="relative">
                    <div class=" z-10 flex bg-info absolute -top-10 -left-10 aspect-square w-48 h-32 md:w-[500px] md:h-[500px] rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)] "></div>
                    <div class=" z-10 flex bg-accent absolute top-12 left-60 md:left-72 aspect-square w-32 h-20 md:w-[750px] md:h-[500px] rounded-full opacity-50 blur-3xl [transform:translate3d(0,0,0)] "></div>
                    <div class=" z-10 flex bg-primary absolute top-48 -left-10 aspect-square w-48 h-10 md:w-[400px] md:h-[400px] rounded-full opacity-40 blur-3xl [transform:translate3d(0,0,0)] "></div>
                </div>
             </div>
        </div>
        <div class="w-full h-full rounded-box z-40 pb-20 xl:p-20">
            {% if active_Listings %}
            <div class="carousel rounded-box h-full">
                {% for active_Listing  in active_Listings|slice:":3"  %}
                <div class="carousel-item">
                    <a href="{% url 'auctions:entryBid' active_Listing.id %}">
                        <img class="w-[300px] lg:w-[350px] h-full object-cover"
                            src="{% if active_Listing.url %}{{active_Listing.url}}{% else %}/static/placeholder.png{% endif %}" 
                            alt="{{active_Listing.title}}"/>
                    </a>
                </div>
                {% endfor %}
                <div class="carousel-item">
                    <div class="relative ">
                        <a  href="{% url 'auctions:index' %}">
                            <div class="absolute w-full text-3xl text-nowrap text-center top-1/2 transform -translate-y-1/2 text-white font-bold">Explore More</div>
                            <img class="w-[300px] lg:w-[350px] h-full object-cover"
                                src="https://i.pinimg.com/474x/76/79/43/76794378c8db43c9a581efd1fb5facc0.jpg" 
                                alt="Active Listings"/>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endif %}



{% endblock %}


